# Product Hunt

In [1]:
# Import all needed packages
import json
import requests
import pandas as pd
import math
from datetime import datetime
import mysql.connector
from mysql.connector import Error
import pandas as pd
from sqlalchemy import create_engine
import pymysql
from time import sleep

In [2]:
# Setting if post have been downloaded
posts_downloaded = True

# 1. API - Gather Data

In [3]:
# Prepare API connection with Product Hunt 

API_URL = "https://api.producthunt.com/v2/api/graphql"

# Specify your API token
MY_API_TOKEN = "iTG4yeNcFFT3DVd1MVOoeU25jlMaPVAtDcPGHpceilA"

headers = {
'Accept': 'application/json',
'Content-Type': 'application/json',
'Authorization': 'Bearer ' + MY_API_TOKEN,
'Host': 'api.producthunt.com'
}

In [4]:
# function to get last cursos
def get_last_cursor(dict):
    df = pd.DataFrame.from_dict({(a): dict[a]
                               for a in dict.keys()},
                              orient='index')
    return df[0][0]

### 1.1. Posts - First Query

In [5]:
# function to get the posts in a dataframe
def get_posts(post_df, list):
    for dict in list:
        #dict = list[i]
        #print(dict['node'])
        df = pd.DataFrame.from_dict({(a): dict['node'][a]
                               for a in dict['node'].keys()})
        post_df = post_df.append(df, ignore_index=True)
    return post_df

In [6]:
# first query to get the firsts 20 posts
query = { "query" :
         """
         query firstposts {
             posts(first: 20, order: NEWEST) {
                 totalCount
                 pageInfo {
                     endCursor
                 }
                 edges { 
                     cursor
                     node {
                         id
                         name
                         description
                         featuredAt
                         createdAt
                         isCollected
                         reviewsRating
                         topics {
                             edges {
                                 node {
                                     id}
                                     }
                        }
                     }          
                 }
              }
           }
           """}

# execute first query and convert to json
firstposts = requests.post(API_URL,
                          headers=headers,
                          data=json.dumps(query))
firstposts = firstposts.json()

In [7]:
# Explore first posts
firstposts

{'data': {'posts': {'totalCount': 205636,
   'pageInfo': {'endCursor': 'MjA='},
   'edges': [{'cursor': 'MQ==',
     'node': {'id': '285136',
      'name': 'LOOPS',
      'description': '3d set of 29 looped videos and 42 static images. Smooth animation. High resolution. Transparent background.',
      'featuredAt': None,
      'createdAt': '2021-02-21T09:00:00Z',
      'isCollected': False,
      'reviewsRating': 0.0,
      'topics': {'edges': [{'node': {'id': '44'}}]}}},
    {'cursor': 'Mg==',
     'node': {'id': '285364',
      'name': 'Faticons COVID pack',
      'description': 'Free medicine 3d icons pack for you project which you can easily customise with Figma or Sketch. - 21 unique icons - Hi-res images - Compatible with Figma and Sketch - Everything clear, grouped and easy to use - Instructions included',
      'featuredAt': '2021-02-21T08:44:08Z',
      'createdAt': '2021-02-21T08:44:08Z',
      'isCollected': False,
      'reviewsRating': 0.0,
      'topics': {'edges': [{'node': {'id': '44'}},
        {'node': {'id': '104'}},
        {'node': {'id': '134'}}]}}},
    {'cursor': 'Mw==',
     'node': {'id': '285328',
      'name': 'RayThis',
      'description': '‚ö†Ô∏è Not affiliated with Ray.so ‚ö†Ô∏è Ray.so is a beautiful code snippet generator you can use to show off your code, and now you can use it without leaving your code editor! Just highlight the code you want to upload, and run the RayThis command in VSCode! üöÄüì∑',
      'featuredAt': '2021-02-21T08:16:05Z',
      'createdAt': '2021-02-21T08:16:05Z',
      'isCollected': False,
      'reviewsRating': 0.0,
      'topics': {'edges': [{'node': {'id': '267'}}]}}},
    {'cursor': 'NA==',
     'node': {'id': '285353',
      'name': 'Uniclip',
      'description': 'No more emailing yourself! Save time and effort with Uniclip: ‚Ä¢ Cross Platform: Android, Linux, Windows and macOS ‚Ä¢ Extendable: Connect as many devices as you want ‚Ä¢ Unintrusive: Consumes neligible CPU power ‚Ä¢ Encrypted: Supports encryption of the clipboard',
      'featuredAt': None,
      'createdAt': '2021-02-21T08:09:00Z',
      'isCollected': False,
      'reviewsRating': 0.0,
      'topics': {'edges': [{'node': {'id': '46'}}, {'node': {'id': '272'}}]}}},
    {'cursor': 'NQ==',
     'node': {'id': '285361',
      'name': 'TabFloater',
      'description': 'TabFloater improves your productivity by providing a "Picture-in-Picture" functionality, but it\'s not limited to video - you can use it with any website!',
      'featuredAt': '2021-02-21T08:07:18Z',
      'createdAt': '2021-02-21T08:07:18Z',
      'isCollected': False,
      'reviewsRating': 0.0,
      'topics': {'edges': [{'node': {'id': '16'}},
        {'node': {'id': '34'}},
        {'node': {'id': '46'}}]}}},
    {'cursor': 'Ng==',
     'node': {'id': '285376',
      'name': 'ARTCORE',
      'description': 'ARTCORE generates surprising visuals from your photos. Connect via HDMI adapter to enable slideshow mode. - Pull to refresh art - Export or share - Limit source to a folder',
      'featuredAt': '2021-02-21T08:05:57Z',
      'createdAt': '2021-02-21T08:05:57Z',
      'isCollected': False,
      'reviewsRating': 0.0,
      'topics': {'edges': [{'node': {'id': '8'}},
        {'node': {'id': '9'}},
        {'node': {'id': '76'}}]}}},
    {'cursor': 'Nw==',
     'node': {'id': '285319',
      'name': 'Recur',
      'description': 'Recur comes packed with features, iOS-specific styling to make Recur fit right into your home-screen making subscription tracking simple and fast.',
      'featuredAt': '2021-02-21T08:05:00Z',
      'createdAt': '2021-02-21T08:05:00Z',
      'isCollected': False,
      'reviewsRating': 0.0,
      'topics': {'edges': [{'node': {'id': '8'}},
        {'node': {'id': '46'}},
        {'node': {'id': '93'}}]}}},
    {'cursor': 'OA==',
     'node': {'id': '285385',
      'name': 'Rownd Data Privacy Platform',
      'description': 'Customers are demanding control over their personal data. Give it to them with ease. ‚úî Onboard your app or website in minutes ‚úî Securely send data with easy to use APIs and SDKs ‚úî Give your end-users complete control with the plug-n-play Personal Data Center.',
      'featuredAt': '2021-02-21T08:01:00Z',
      'createdAt': '2021-02-21T08:01:00Z',
      'isCollected': False,
      'reviewsRating': 5.0,
      'topics': {'edges': [{'node': {'id': '93'}},
        {'node': {'id': '237'}},
        {'node': {'id': '248'}},
        {'node': {'id': '267'}}]}}},
    {'cursor': 'OQ==',
     'node': {'id': '285191',
      'name': 'VIMORY',
      'description': 'Social Media Friendly and Optimized instant photo editing, video creation and slideshow making mobile app. It has been invented for who are looking for a creative way to make an impression on social media.',
      'featuredAt': '2021-02-21T08:00:00Z',
      'createdAt': '2021-02-21T08:00:00Z',
      'isCollected': False,
      'reviewsRating': 0.0,
      'topics': {'edges': [{'node': {'id': '2'}}, {'node': {'id': '251'}}]}}},
    {'cursor': 'MTA=',
     'node': {'id': '285339',
      'name': 'libbybio',
      'description': 'Create your profile how you want it with support for HTML/CSS. We place no restrictions on how you build out your profile! Remove our logos if you want! All 100% free. [Currently in early alpha]',
      'featuredAt': None,
      'createdAt': '2021-02-21T08:00:00Z',
      'isCollected': False,
      'reviewsRating': 0.0,
      'topics': {'edges': [{'node': {'id': '46'}}, {'node': {'id': '93'}}]}}},
    {'cursor': 'MTE=',
     'node': {'id': '285348',
      'name': 'Alora',
      'description': 'We help you organize the attendance process, save time, and go paperless. Whether you are a teacher, instructor, or coach, you will find all you need in the Alora app.',
      'featuredAt': '2021-02-21T08:00:00Z',
      'createdAt': '2021-02-21T08:00:00Z',
      'isCollected': False,
      'reviewsRating': 0.0,
      'topics': {'edges': [{'node': {'id': '2'}},
        {'node': {'id': '8'}},
        {'node': {'id': '46'}},
        {'node': {'id': '205'}}]}}},
    {'cursor': 'MTI=',
     'node': {'id': '285337',
      'name': 'Aspekt 3D Icons',
      'description': "Aspekt is my little growing collection of 3D shapes available in 68 colors, each. I like their look and style and I want to throw them here and there in my Notion pages and my landing pages. So, I thought I'd share them with you üòä",
      'featuredAt': '2021-02-21T08:00:00Z',
      'createdAt': '2021-02-21T08:00:00Z',
      'isCollected': False,
      'reviewsRating': 0.0,
      'topics': {'edges': [{'node': {'id': '44'}},
        {'node': {'id': '46'}},
        {'node': {'id': '134'}}]}}},
    {'cursor': 'MTM=',
     'node': {'id': '285344',
      'name': 'Mission to Mars AR',
      'description': 'With Perseverance now on Mars, take an up-close interactive look at this and other rovers that paved the way. From the treacherous landing attempt to the flight of the first interplanetary helicopter, this app brings the mission to life.',
      'featuredAt': '2021-02-21T08:00:00Z',
      'createdAt': '2021-02-21T08:00:00Z',
      'isCollected': False,
      'reviewsRating': 0.0,
      'topics': {'edges': [{'node': {'id': '8'}},
        {'node': {'id': '204'}},
        {'node': {'id': '227'}},
        {'node': {'id': '352'}}]}}},
    {'cursor': 'MTQ=',
     'node': {'id': '285346',
      'name': 'stain',
      'description': 'Made in between pop/art. Against the conventional color based log apps, where love is expressed by red, love can be gray in stain. It is delight for a user to follow his/her own feeling.',
      'featuredAt': '2021-02-21T08:00:00Z',
      'createdAt': '2021-02-21T08:00:00Z',
      'isCollected': False,
      'reviewsRating': 0.0,
      'topics': {'edges': [{'node': {'id': '8'}},
        {'node': {'id': '93'}},
        {'node': {'id': '372'}},
        {'node': {'id': '472'}}]}}},
    {'cursor': 'MTU=',
     'node': {'id': '285014',
      'name': 'Kip',
      'description': 'Knowledge Is Power! Connect with others with your same interests whether you are looking for knowledge or want to help others gain it. Join a community with various interests at all skill levels.',
      'featuredAt': '2021-02-21T08:00:00Z',
      'createdAt': '2021-02-21T08:00:00Z',
      'isCollected': False,
      'reviewsRating': 0.0,
      'topics': {'edges': [{'node': {'id': '8'}}]}}},
    {'cursor': 'MTY=',
     'node': {'id': '285349',
      'name': 'Blerp Discord Soundboard Bot',
      'description': 'Blerp is the best way to enhance any moment with sound. Our Discord bot is the #1 rated soundboard bot on over 10K+ servers. You can easily search and share 1M+ sounds and use the web console to play sounds to your chat from your phone or desktop browser!',
      'featuredAt': '2021-02-21T08:00:00Z',
      'createdAt': '2021-02-21T08:00:00Z',
      'isCollected': False,
      'reviewsRating': 0.0,
      'topics': {'edges': [{'node': {'id': '93'}},
        {'node': {'id': '232'}},
        {'node': {'id': '352'}},
        {'node': {'id': '471'}}]}}},
    {'cursor': 'MTc=',
     'node': {'id': '285333',
      'name': 'Note Box',
      'description': 'A Chrome Extension that provides a "notes container" for every domain. Add notes, along with an option to mark that item as `DONE`. Notes/Todos gets added based on the URL. Revisit the same note list when back to that URL or access from the Homepage.',
      'featuredAt': '2021-02-21T08:00:00Z',
      'createdAt': '2021-02-21T08:00:00Z',
      'isCollected': False,
      'reviewsRating': 0.0,
      'topics': {'edges': [{'node': {'id': '34'}}, {'node': {'id': '46'}}]}}},
    {'cursor': 'MTg=',
     'node': {'id': '285185',
      'name': 'Wyd?',
      'description': 'It is very simple and minimalist, but it works. This is a widget application that displays actions to be taken right now. Recommended for smartphone addicts. It is a tool for productivity, but I recommend writing down what you need to do right now.',
      'featuredAt': '2021-02-21T08:00:00Z',
      'createdAt': '2021-02-21T08:00:00Z',
      'isCollected': False,
      'reviewsRating': 0.0,
      'topics': {'edges': [{'node': {'id': '8'}}, {'node': {'id': '46'}}]}}},
    {'cursor': 'MTk=',
     'node': {'id': '285386',
      'name': 'The Art of Blogging',
      'description': 'The Art of Blogging is a platform dedicated to helping out aspiring bloggers. Articles, guides, tutorials, and more are available for free.',
      'featuredAt': None,
      'createdAt': '2021-02-21T06:38:33Z',
      'isCollected': False,
      'reviewsRating': 0.0,
      'topics': {'edges': [{'node': {'id': '164'}}]}}},
    {'cursor': 'MjA=',
     'node': {'id': '285371',
      'name': 'Butter',
      'description': "Butter is a mobile-first, chat-based collaboration tool that makes the essential process of collaboration much simpler, especially for people who aren't very tech-savvy. We intend to make this app so simple and intuitive, that even our mom uses it.",
      'featuredAt': None,
      'createdAt': '2021-02-21T05:20:34Z',
      'isCollected': False,
      'reviewsRating': 5.0,
      'topics': {'edges': [{'node': {'id': '46'}},
        {'node': {'id': '48'}},
        {'node': {'id': '352'}},
        {'node': {'id': '468'}}]}}}]}}}

In [8]:
### Only perform data wrangling, if posts have been not yet retrieved
if posts_downloaded ==  False:

    # create empty df with prefined dataframes
    post_df = pd.DataFrame(columns=['id',
                                    'name',
                                    'description',
                                    'featuredAt',
                                    'createdAt',
                                    'isCollected',
                                    'reviewsRating',
                                    'topics'])

    # dataframe for the first level output
    df = pd.DataFrame.from_dict({(a,b): firstposts[a][b]
                                   for a in firstposts.keys()
                                   for b in firstposts[a].keys()},
                                orient='index')

    # get the total_amount of posts
    totalCount = df.totalCount[0]

    # get the last_cursor
    last_cursor = get_last_cursor(df.pageInfo[0])
    print(last_cursor)

    # add posts to the post_df
    post_df = get_posts(post_df, df.edges[0])
    
    # print first lines 
    print(post_df.head())

### 1.2. Posts - Loop Query

In [9]:
# Obtaiing every 15 minutes 100 posts, if posts have not yet been downloaded
if posts_downloaded ==  False:
    # Query - Loop
    k = 1
    for i in range(math.ceil((totalCount-len(post_df))/20/10)):

        for j in range(10-k):
            print("Loop " + str(j+1+k))

            # Query to get all posts
            query = { "query" :
                     """
                     query allPosts($id: String!) {
                         posts(first: 20, order: NEWEST, after: $id) {
                             totalCount
                             pageInfo {
                                 endCursor
                             }
                             edges { 
                                 cursor
                                 node {
                                     id
                                     name
                                     description
                                     featuredAt
                                     createdAt
                                     isCollected
                                     reviewsRating
                                     topics {
                                         edges {
                                             node {
                                                 id}
                                                 }
                                    }
                                 }          
                             }
                          }
                       }
                       """,
                     "variables": {
                         "id": last_cursor
                     }

                    }



            loop_posts = requests.post(API_URL,
                                      headers=headers,
                                      data=json.dumps(query))

            loop_posts = loop_posts.json()

            # structure output
            df = pd.DataFrame.from_dict({(a,b): loop_posts[a][b]
                                       for a in loop_posts.keys()
                                       for b in loop_posts[a].keys()},
                                        orient='index')

            # get last_cursor
            last_cursor = get_last_cursor(df.pageInfo[0])

            # append posts to post_df
            post_df = get_posts(post_df, df.edges[0])

            print("Number of posts collected: " + str(len(post_df)))
            print("Last cursor: " + last_cursor)

            # time to not reach the limit
            if (j+k) == 9:
                print("Let me sleep for 15 minutes ;)")
                sleep(60*15)
        k = 0
        
        # Export raw posts
        post_df.to_csv('/Users/theresawohlsen/code/bi/post_df.csv')

In [10]:
# If post have been downloaded, import raw posts
if posts_downloaded:
    post_df = pd.read_csv('post_df.csv', converters={'topics': eval})
    post_df['featuredAt'] = post_df['featuredAt'].astype(str)
    post_df['isCollected'] = post_df['isCollected'].astype(str)

### 1.3. Topics - first query

In [11]:
# function to get topics
def get_topics(edges, topics_df): 
    row = []
    for i in range(len(edges)):
        #print(i)
        for key in edges[i]['node']:
            value = edges[i]['node'].get(key)
            #print(value)
            row.append(value)
        row_df = pd.Series(row, index = topics_df.columns)
        topics_df = topics_df.append(row_df, ignore_index=True)
        row = []
        row_df = []
        #print(row)
        
    print(topics_df.head())
    return topics_df

In [12]:
# first query to get the firsts 20 posts and lastcursor
query = { "query" :
         """
         query first_topics {
             topics(first: 20, order: NEWEST) {
                 totalCount
                 pageInfo {
                     endCursor
                    }
                    edges {
                        node {
                            createdAt
                            followersCount
                            postsCount
                            id
                            }
                        }     
                    }
                }
           """}

# execute first query
first_topics = requests.post(API_URL,
                          headers=headers,
                          data=json.dumps(query))
first_topics = first_topics.json()


### Data Wrangle first Output
# create empty df with prefined dataframes
topics_df = pd.DataFrame(columns=['createdAt',
                                  'followersCount',
                                  'postsCount',
                                  'id'])


# dataframe for the first level output
df1 = pd.DataFrame.from_dict({(a,b): first_topics[a][b]
                               for a in first_topics.keys()
                               for b in first_topics[a].keys()},
                              orient='index')
print(df1.head())

# get the total_amount of posts
total_count_topics = df1.totalCount[0]
 
    
# get the last_cursor
last_cursor_topics = get_last_cursor(df1.pageInfo[0])
print(last_cursor_topics)

# get topics
topics_df = get_topics(df1.edges[0], topics_df)

             totalCount               pageInfo  \
data topics         252  {'endCursor': 'MjA='}

                                                         edges
data topics  [{'node': {'createdAt': '2020-12-10T17:24:27Z'...
MjA=
              createdAt followersCount postsCount   id
0  2020-12-10T17:24:27Z             69         20  472
1  2020-12-10T17:24:13Z            107         76  471
2  2020-12-10T17:24:04Z            174         77  470
3  2020-12-10T17:23:50Z            190         92  469
4  2020-12-10T17:23:35Z            157         86  468

### 1.4. Topics - query loop

In [13]:
# Query - Loop to obtain all topics
for i in range(math.ceil((total_count_topics-len(topics_df))/20)-2):
    print("Loop " + str(i+1) + " from " + str(math.ceil(total_count_topics/20)) + " loops.")
    
    # Query to get all posts
    query = { "query" :
             """
             query first_topics($id: String!) {
                 topics(first: 20, order: NEWEST, after: $id) {
                     totalCount
                     pageInfo {
                         endCursor
                        }
                        edges {
                            node {
                                createdAt
                                followersCount
                                postsCount
                                id
                                }
                            }     
                        }
                    }
               """,
             "variables": {
                 "id": last_cursor_topics
             }

            }
    
    
    loop_topics = requests.post(API_URL,
                              headers=headers,
                              data=json.dumps(query))

    loop_topics = loop_topics.json()
    
    # structure output
    df1 = pd.DataFrame.from_dict({(a,b): loop_topics[a][b]
                               for a in loop_topics.keys()
                               for b in loop_topics[a].keys()},
                              orient='index')

    # get the total_amount of posts
    total_count_topics = df1.totalCount[0]
 
        
    # get the last_cursor
    last_cursor_topics = get_last_cursor(df1.pageInfo[0])

    # get topics
    topics_df = get_topics(df1.edges[0], topics_df)
    
    print("Number of posts: " + str(len(topics_df)) + " from " + str(total_count_topics) + " topics")
    print("Last cursor: " + last_cursor_topics)

Loop 1 from 13 loops.
              createdAt followersCount postsCount   id
0  2020-12-10T17:24:27Z             69         20  472
1  2020-12-10T17:24:13Z            107         76  471
2  2020-12-10T17:24:04Z            174         77  470
3  2020-12-10T17:23:50Z            190         92  469
4  2020-12-10T17:23:35Z            157         86  468
Number of posts: 40 from 252 topics
Last cursor: NDA=
Loop 2 from 13 loops.
              createdAt followersCount postsCount   id
0  2020-12-10T17:24:27Z             69         20  472
1  2020-12-10T17:24:13Z            107         76  471
2  2020-12-10T17:24:04Z            174         77  470
3  2020-12-10T17:23:50Z            190         92  469
4  2020-12-10T17:23:35Z            157         86  468
Number of posts: 60 from 252 topics
Last cursor: NjA=
Loop 3 from 13 loops.
              createdAt followersCount postsCount   id
0  2020-12-10T17:24:27Z             69         20  472
1  2020-12-10T17:24:13Z            107         76  471
2  2020-12-10T17:24:04Z            174         77  470
3  2020-12-10T17:23:50Z            190         92  469
4  2020-12-10T17:23:35Z            157         86  468
Number of posts: 80 from 252 topics
Last cursor: ODA=
Loop 4 from 13 loops.
              createdAt followersCount postsCount   id
0  2020-12-10T17:24:27Z             69         20  472
1  2020-12-10T17:24:13Z            107         76  471
2  2020-12-10T17:24:04Z            174         77  470
3  2020-12-10T17:23:50Z            190         92  469
4  2020-12-10T17:23:35Z            157         86  468
Number of posts: 100 from 252 topics
Last cursor: MTAw
Loop 5 from 13 loops.
              createdAt followersCount postsCount   id
0  2020-12-10T17:24:27Z             69         20  472
1  2020-12-10T17:24:13Z            107         76  471
2  2020-12-10T17:24:04Z            174         77  470
3  2020-12-10T17:23:50Z            190         92  469
4  2020-12-10T17:23:35Z            157         86  468
Number of posts: 120 from 252 topics
Last cursor: MTIw
Loop 6 from 13 loops.
              createdAt followersCount postsCount   id
0  2020-12-10T17:24:27Z             69         20  472
1  2020-12-10T17:24:13Z            107         76  471
2  2020-12-10T17:24:04Z            174         77  470
3  2020-12-10T17:23:50Z            190         92  469
4  2020-12-10T17:23:35Z            157         86  468
Number of posts: 140 from 252 topics
Last cursor: MTQw
Loop 7 from 13 loops.
              createdAt followersCount postsCount   id
0  2020-12-10T17:24:27Z             69         20  472
1  2020-12-10T17:24:13Z            107         76  471
2  2020-12-10T17:24:04Z            174         77  470
3  2020-12-10T17:23:50Z            190         92  469
4  2020-12-10T17:23:35Z            157         86  468
Number of posts: 160 from 252 topics
Last cursor: MTYw
Loop 8 from 13 loops.
              createdAt followersCount postsCount   id
0  2020-12-10T17:24:27Z             69         20  472
1  2020-12-10T17:24:13Z            107         76  471
2  2020-12-10T17:24:04Z            174         77  470
3  2020-12-10T17:23:50Z            190         92  469
4  2020-12-10T17:23:35Z            157         86  468
Number of posts: 180 from 252 topics
Last cursor: MTgw
Loop 9 from 13 loops.
              createdAt followersCount postsCount   id
0  2020-12-10T17:24:27Z             69         20  472
1  2020-12-10T17:24:13Z            107         76  471
2  2020-12-10T17:24:04Z            174         77  470
3  2020-12-10T17:23:50Z            190         92  469
4  2020-12-10T17:23:35Z            157         86  468
Number of posts: 200 from 252 topics
Last cursor: MjAw
Loop 10 from 13 loops.
              createdAt followersCount postsCount   id
0  2020-12-10T17:24:27Z             69         20  472
1  2020-12-10T17:24:13Z            107         76  471
2  2020-12-10T17:24:04Z            174         77  470
3  2020-12-10T17:23:50Z            190         92  469
4  2020-12-10T17:23:35Z            157         86  468
Number of posts: 220 from 252 topics
Last cursor: MjIw

In [18]:
len(topics_df)

252

In [19]:
total_count_topics

252

## 2. Data Wrangle

In [20]:
# function explore a dataframe
def explore_df(df):
    print("Shape: ")
    print(df.shape)
    print("------------------------------------------")
    
    print("Head: ")
    print(df.head())
    print("------------------------------------------")
    
    print("Tail: ")
    print(df.tail() )     
    print("------------------------------------------")
    
    print("Describe: ")
    print(df.describe())
    print("------------------------------------------")
    
    print("Info: ")   
    print(df.info())
    print("------------------------------------------")
    
    print("Missing Values: ")   
    print(df.isna().sum())
    print("------------------------------------------")
    
    print("Column types")
    print(post_df.dtypes)

### 2.1. Posts

In [21]:
explore_df(post_df)

Shape:
(28000, 9)
------------------------------------------
Head:
   Unnamed: 0      id                                   name  \
0           0  285247           SMART Operational Management
1           1  285246                      siscertifications
2           2  285245           KSemantics for Google Sheets
3           3  285244  Best Mental Health Services in Lahore
4           4  285243                              Whitebird

                                         description featuredAt  \
0  If remote teams and outsourcing were already o...        nan
1  ISO 14001 certification has become the interna...        nan
2  KSemantics is an AI-powered Google Sheets add-...        nan
3  Psychconsultants provides best mental health s...        nan
4  Whitebird is an open-source, web-based, collab...        nan

              createdAt isCollected  reviewsRating  \
0  2021-02-19T11:40:39Z       False            0.0
1  2021-02-19T11:39:59Z       False            0.0
2  2021-02-19T11:39:10Z       False            0.0
3  2021-02-19T11:39:08Z       False            0.0
4  2021-02-19T11:26:19Z       False            0.0

                                              topics
0                           [{'node': {'id': '46'}}]
1                           [{'node': {'id': '46'}}]
2  [{'node': {'id': '46'}}, {'node': {'id': '108'...
3  [{'node': {'id': '164'}}, {'node': {'id': '352...
4  [{'node': {'id': '46'}}, {'node': {'id': '272'}}]
------------------------------------------
Tail:
       Unnamed: 0      id                                    name  \
27995       27995  198134                                  Notyfy
27996       27996  198067                           ResumeCompass
27997       27997  198217                       Novocall TimeSync
27998       27998  198147  Rainy Day Kids - Quarantine Activities
27999       27999  196573              Top eCommerce Case Studies

                                             description  \
27995  Notyfy aggregates notifications from Gmail, Tw...
27996  ResumeCompass is the all-in-one resume platfor...
27997  TimeSync is a smart scheduler purpose-built fo...
27998  Parents - save time crawling the internet for ...
27999  We curated 40+ incredible eCommerce case studi...

                 featuredAt             createdAt isCollected  reviewsRating  \
27995  2020-05-07T07:09:41Z  2020-05-07T07:05:00Z       False            4.2
27996  2020-05-07T07:10:53Z  2020-05-07T07:05:00Z       False            5.0
27997  2020-05-07T07:14:27Z  2020-05-07T07:05:00Z       False            5.0
27998  2020-05-07T07:14:39Z  2020-05-07T07:01:00Z       False            5.0
27999                   nan  2020-05-07T07:01:00Z       False            5.0

                                                  topics
27995  [{'node': {'id': '16'}}, {'node': {'id': '34'}...
27996  [{'node': {'id': '21'}}, {'node': {'id': '41'}...
27997  [{'node': {'id': '21'}}, {'node': {'id': '46'}...
27998  [{'node': {'id': '46'}}, {'node': {'id': '82'}...
27999  [{'node': {'id': '164'}}, {'node': {'id': '206...
------------------------------------------
Describe:
         Unnamed: 0             id  reviewsRating
count  28000.000000   28000.000000   28000.000000
mean   13999.500000  247895.292321       1.623046
std     8083.048105   30860.415047       2.297095
min        0.000000  142977.000000       0.000000
25%     6999.750000  213919.750000       0.000000
50%    13999.500000  261437.500000       0.000000
75%    20999.250000  275952.250000       5.000000
max    27999.000000  285247.000000       5.000000
------------------------------------------
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28000 entries, 0 to 27999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     28000 non-null  int64
 1   id             28000 non-null  int64
 2   name           27992 non-null  object
 3   description    27933 non-null  object
 4   featuredAt     28000 non-null  object
 5   createdAt      28000 non-null  object
 6   isCollected    28000 non-null  object
 7   reviewsRating  28000 non-null  float64
 8   topics         28000 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 1.9+ MB
None
------------------------------------------
Missing Values:
Unnamed: 0        0
id                0
name              8
description      67
featuredAt        0
createdAt         0
isCollected       0
reviewsRating     0
topics            0
dtype: int64
------------------------------------------
Column types
Unnamed: 0         int64
id                 int64
name              object
description       object
featuredAt        object
createdAt         object
isCollected       object
reviewsRating    float64
topics            object
dtype: object

In [22]:
# convert object types to numeroc
convert_columns = ["id", "reviewsRating"]
post_df[convert_columns] = post_df[convert_columns].apply(pd.to_numeric)

# Fill empty name and description
post_df['description'] = post_df['description'].fillna(" ")
post_df['name'] = post_df['name'].fillna(" ")

# Create a feature showing, if post was featured
if posts_downloaded:
    post_df['featured'] = post_df['featuredAt'].apply(lambda x: 0 if x == 'nan' else 1)
else:
    post_df['featured'] = post_df['featuredAt'].apply(lambda x: 0 if x is None else 1)

# Create a feature showing, if post was collected
post_df['collected'] = post_df['isCollected'].apply(lambda x: 0 if x == 'False' else 1)

# Data
post_df['created_at'] = pd.to_datetime(post_df['createdAt'], format='%Y-%m-%dT%H:%M:%S%z')
post_df["weekday"] = post_df['created_at'].apply(lambda x: x.weekday)
post_df['len_name'] =  post_df['name'].apply(lambda x: len(str(x)))
post_df['len_description'] =  post_df['description'].apply(lambda x: len(str(x)))


# Rename columns, if needed
post_df['post_id'] = post_df['id']
post_df['post_name'] = post_df['name']
post_df['post_description'] = post_df['description']
post_df['reviews_rating'] = post_df['reviewsRating']

# Feature Engineering: Create new columns
post_df['topics_count'] = 0
post_df['topics_list'] = ''

# count list and topics
for i in range(len(post_df)):
    topics = []
    for j in range(len(post_df.topics[i])):
        k = j
        #print(j)
        #print(post_df.topics[i][k])
        topic = post_df.topics[i][k].get('node').get('id')
        topics.append(topic)
    #print(type(topics))
    post_df.at[i,'topics_list'] = topics 
    post_df.at[i,'topics_count'] = len(topics)

In [23]:
explore_df(post_df)

Shape:
(28000, 21)
------------------------------------------
Head:
   Unnamed: 0      id                                   name  \
0           0  285247           SMART Operational Management
1           1  285246                      siscertifications
2           2  285245           KSemantics for Google Sheets
3           3  285244  Best Mental Health Services in Lahore
4           4  285243                              Whitebird

                                         description featuredAt  \
0  If remote teams and outsourcing were already o...        nan
1  ISO 14001 certification has become the interna...        nan
2  KSemantics is an AI-powered Google Sheets add-...        nan
3  Psychconsultants provides best mental health s...        nan
4  Whitebird is an open-source, web-based, collab...        nan

              createdAt isCollected  reviewsRating  \
0  2021-02-19T11:40:39Z       False            0.0
1  2021-02-19T11:39:59Z       False            0.0
2  2021-02-19T11:39:10Z       False            0.0
3  2021-02-19T11:39:08Z       False            0.0
4  2021-02-19T11:26:19Z       False            0.0

                                              topics  featured  ...  \
0                           [{'node': {'id': '46'}}]         0  ...
1                           [{'node': {'id': '46'}}]         0  ...
2  [{'node': {'id': '46'}}, {'node': {'id': '108'...         0  ...
3  [{'node': {'id': '164'}}, {'node': {'id': '352...         0  ...
4  [{'node': {'id': '46'}}, {'node': {'id': '272'}}]         0  ...

                 created_at weekday  len_name  len_description  post_id  \
0 2021-02-19 11:40:39+00:00       4        28              159   285247
1 2021-02-19 11:39:59+00:00       4        17              261   285246
2 2021-02-19 11:39:10+00:00       4        28              256   285245
3 2021-02-19 11:39:08+00:00       4        37              180   285244
4 2021-02-19 11:26:19+00:00       4         9              122   285243

                               post_name  \
0           SMART Operational Management
1                      siscertifications
2           KSemantics for Google Sheets
3  Best Mental Health Services in Lahore
4                              Whitebird

                                    post_description reviews_rating  \
0  If remote teams and outsourcing were already o...            0.0
1  ISO 14001 certification has become the interna...            0.0
2  KSemantics is an AI-powered Google Sheets add-...            0.0
3  Psychconsultants provides best mental health s...            0.0
4  Whitebird is an open-source, web-based, collab...            0.0

   topics_count          topics_list
0             1                 [46]
1             1                 [46]
2             4  [46, 108, 268, 352]
3             2           [164, 352]
4             2            [46, 272]

[5 rows x 21 columns]
------------------------------------------
Tail:
       Unnamed: 0      id                                    name  \
27995       27995  198134                                  Notyfy
27996       27996  198067                           ResumeCompass
27997       27997  198217                       Novocall TimeSync
27998       27998  198147  Rainy Day Kids - Quarantine Activities
27999       27999  196573              Top eCommerce Case Studies

                                             description  \
27995  Notyfy aggregates notifications from Gmail, Tw...
27996  ResumeCompass is the all-in-one resume platfor...
27997  TimeSync is a smart scheduler purpose-built fo...
27998  Parents - save time crawling the internet for ...
27999  We curated 40+ incredible eCommerce case studi...

                 featuredAt             createdAt isCollected  reviewsRating  \
27995  2020-05-07T07:09:41Z  2020-05-07T07:05:00Z       False            4.2
27996  2020-05-07T07:10:53Z  2020-05-07T07:05:00Z       False            5.0
27997  2020-05-07T07:14:27Z  2020-05-07T07:05:00Z       False            5.0
27998  2020-05-07T07:14:39Z  2020-05-07T07:01:00Z       False            5.0
27999                   nan  2020-05-07T07:01:00Z       False            5.0

                                                  topics  featured  ...  \
27995  [{'node': {'id': '16'}}, {'node': {'id': '34'}...         1  ...
27996  [{'node': {'id': '21'}}, {'node': {'id': '41'}...         1  ...
27997  [{'node': {'id': '21'}}, {'node': {'id': '46'}...         1  ...
27998  [{'node': {'id': '46'}}, {'node': {'id': '82'}...         1  ...
27999  [{'node': {'id': '164'}}, {'node': {'id': '206...         0  ...

                     created_at weekday  len_name  len_description  post_id  \
27995 2020-05-07 07:05:00+00:00       3         6              161   198134
27996 2020-05-07 07:05:00+00:00       3        13              257   198067
27997 2020-05-07 07:05:00+00:00       3        17              251   198217
27998 2020-05-07 07:01:00+00:00       3        38              154   198147
27999 2020-05-07 07:01:00+00:00       3        26              198   196573

                                    post_name  \
27995                                  Notyfy
27996                           ResumeCompass
27997                       Novocall TimeSync
27998  Rainy Day Kids - Quarantine Activities
27999              Top eCommerce Case Studies

                                        post_description reviews_rating  \
27995  Notyfy aggregates notifications from Gmail, Tw...            4.2
27996  ResumeCompass is the all-in-one resume platfor...            5.0
27997  TimeSync is a smart scheduler purpose-built fo...            5.0
27998  Parents - save time crawling the internet for ...            5.0
27999  We curated 40+ incredible eCommerce case studi...            5.0

       topics_count           topics_list
27995             3          [16, 34, 46]
27996             3         [21, 41, 237]
27997             3         [21, 46, 256]
27998             3         [46, 82, 157]
27999             4  [164, 206, 278, 402]

[5 rows x 21 columns]
------------------------------------------
Describe:
         Unnamed: 0             id  reviewsRating      featured  collected  \
count  28000.000000   28000.000000   28000.000000  28000.000000    28000.0
mean   13999.500000  247895.292321       1.623046      0.274214        0.0
std     8083.048105   30860.415047       2.297095      0.446125        0.0
min        0.000000  142977.000000       0.000000      0.000000        0.0
25%     6999.750000  213919.750000       0.000000      0.000000        0.0
50%    13999.500000  261437.500000       0.000000      0.000000        0.0
75%    20999.250000  275952.250000       5.000000      1.000000        0.0
max    27999.000000  285247.000000       5.000000      1.000000        0.0

            weekday      len_name  len_description        post_id  \
count  28000.000000  28000.000000     28000.000000   28000.000000
mean       2.496321     16.930679       202.204893  247895.292321
std        1.833410     10.166833        72.593833   30860.415047
min        0.000000      1.000000         1.000000  142977.000000
25%        1.000000      9.000000       163.000000  213919.750000
50%        2.000000     14.000000       222.000000  261437.500000
75%        4.000000     24.000000       252.000000  275952.250000
max        6.000000     64.000000      5000.000000  285247.000000

       reviews_rating  topics_count
count    28000.000000  28000.000000
mean         1.623046      2.667536
std          2.297095      1.901632
min          0.000000      0.000000
25%          0.000000      1.000000
50%          0.000000      2.000000
75%          5.000000      4.000000
max          5.000000     20.000000
------------------------------------------
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28000 entries, 0 to 27999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        28000 non-null  int64
 1   id                28000 non-null  int64
 2   name              28000 non-null  object
 3   description       28000 non-null  object
 4   featuredAt        28000 non-null  object
 5   createdAt         28000 non-null  object
 6   isCollected       28000 non-null  object
 7   reviewsRating     28000 non-null  float64
 8   topics            28000 non-null  object
 9   featured          28000 non-null  int64
 10  collected         28000 non-null  int64
 11  created_at        28000 non-null  datetime64[ns, UTC]
 12  weekday           28000 non-null  int64
 13  len_name          28000 non-null  int64
 14  len_description   28000 non-null  int64
 15  post_id           28000 non-null  int64
 16  post_name         28000 non-null  object
 17  post_description  28000 non-null  object
 18  reviews_rating    28000 non-null  float64
 19  topics_count      28000 non-null  int64
 20  topics_list       28000 non-null  object
dtypes: datetime64[ns, UTC](1), float64(2), int64(9), object(9)
memory usage: 4.5+ MB
None
------------------------------------------
Missing Values:
Unnamed: 0          0
id                  0
name                0
description         0
featuredAt          0
createdAt           0
isCollected         0
reviewsRating       0
topics              0
featured            0
collected           0
created_at          0
weekday             0
len_name            0
len_description     0
post_id             0
post_name           0
post_description    0
reviews_rating      0
topics_count        0
topics_list         0
dtype: int64
------------------------------------------
Column types
Unnamed: 0                        int64
id                                int64
name                             object
description                      object
featuredAt                       object
createdAt                        object
isCollected                      object
reviewsRating                   float64
topics                           object
featured                          int64
collected                         int64
created_at          datetime64[ns, UTC]
weekday                           int64
len_name                          int64
len_description                   int64
post_id                           int64
post_name                        object
post_description                 object
reviews_rating                  float64
topics_count                      int64
topics_list                      object
dtype: object

### 2.2. Derive Mapping df from posts

In [24]:
# create a df to map the many to many relationship
mapping_df = pd.DataFrame(columns=['post_id',
                                  'topic_id'])

In [25]:
# mapping table
for i, topics in enumerate(post_df.topics_list):
    #print(topics)
    for topic_id in topics:
        #print(topic_id)
        mapping_df = mapping_df.append({'post_id': post_df.post_id[i], 'topic_id': topic_id},
                                       ignore_index=True )
print(mapping_df.head())
print(len(mapping_df.head()))

  post_id topic_id
0  285247       46
1  285246       46
2  285245       46
3  285245      108
4  285245      268
5

In [26]:
mapping_df.head()

  post_id topic_id
0  285247       46
1  285246       46
2  285245       46
3  285245      108
4  285245      268

In [27]:
explore_df(mapping_df)

Shape:
(74691, 2)
------------------------------------------
Head:
  post_id topic_id
0  285247       46
1  285246       46
2  285245       46
3  285245      108
4  285245      268
------------------------------------------
Tail:
      post_id topic_id
74686  198147      157
74687  196573      164
74688  196573      206
74689  196573      278
74690  196573      402
------------------------------------------
Describe:
        post_id topic_id
count     74691    74691
unique    26421      249
top      201661       46
freq         20     8518
------------------------------------------
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74691 entries, 0 to 74690
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   post_id   74691 non-null  object
 1   topic_id  74691 non-null  object
dtypes: object(2)
memory usage: 1.1+ MB
None
------------------------------------------
Missing Values:
post_id     0
topic_id    0
dtype: int64
------------------------------------------
Column types
Unnamed: 0                        int64
id                                int64
name                             object
description                      object
featuredAt                       object
createdAt                        object
isCollected                      object
reviewsRating                   float64
topics                           object
featured                          int64
collected                         int64
created_at          datetime64[ns, UTC]
weekday                           int64
len_name                          int64
len_description                   int64
post_id                           int64
post_name                        object
post_description                 object
reviews_rating                  float64
topics_count                      int64
topics_list                      object
dtype: object

In [28]:
# export the cleaned mapping table
mapping_df.to_csv('/Users/theresawohlsen/code/bi/mapping_cleaned.csv')

### 2.3. Finalize the posts

In [30]:
# Drop unneeded columns from post_df
columns_to_be_dropped =['id', 'name', 'description', 'collected',
                        'featuredAt', 'createdAt', 'isCollected',
                        'reviewsRating', 'topics', 'created_at',
                        'topics_list', 'Unnamed: 0']
post_df = post_df.drop(columns=columns_to_be_dropped)

In [31]:
# export all collected posts
post_df.to_csv('/Users/theresawohlsen/code/bi/posts_cleaned.csv')

In [32]:
post_df.columns

Index(['featured', 'weekday', 'len_name', 'len_description', 'post_id',
       'post_name', 'post_description', 'reviews_rating', 'topics_count'],
      dtype='object')

### 2.3. Topics

In [33]:
explore_df(topics_df)

Shape:
(252, 4)
------------------------------------------
Head:
              createdAt followersCount postsCount   id
0  2020-12-10T17:24:27Z             69         20  472
1  2020-12-10T17:24:13Z            107         76  471
2  2020-12-10T17:24:04Z            174         77  470
3  2020-12-10T17:23:50Z            190         92  469
4  2020-12-10T17:23:35Z            157         86  468
------------------------------------------
Tail:
                createdAt followersCount postsCount id
247  2016-03-01T13:26:59Z            580         48  5
248  2016-03-01T13:26:57Z           2313        242  4
249  2016-03-01T13:26:56Z           1502        206  3
250  2016-03-01T13:26:21Z          46945      18426  2
251  2016-03-01T13:26:20Z           3930        149  1
------------------------------------------
Describe:
                   createdAt  followersCount  postsCount   id
count                    252             252         252  252
unique                    74             248         226  252
top     2016-03-08T12:19:50Z            3618          43   51
freq                      32               3           3    1
------------------------------------------
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   createdAt       252 non-null    object
 1   followersCount  252 non-null    object
 2   postsCount      252 non-null    object
 3   id              252 non-null    object
dtypes: object(4)
memory usage: 8.0+ KB
None
------------------------------------------
Missing Values:
createdAt         0
followersCount    0
postsCount        0
id                0
dtype: int64
------------------------------------------
Column types
featured              int64
weekday               int64
len_name              int64
len_description       int64
post_id               int64
post_name            object
post_description     object
reviews_rating      float64
topics_count          int64
dtype: object

In [34]:
# convert object types to numeric
convert_columns = ['followersCount', 'postsCount', 'id']
topics_df[convert_columns] = topics_df[convert_columns].apply(pd.to_numeric)

In [35]:
topics_df.describe()

       followersCount     postsCount          id
count      252.000000     252.000000  252.000000
mean     23422.650794    2232.246032  172.710317
std      53203.314897    8584.293197  114.847549
min         69.000000      10.000000    1.000000
25%       1883.750000     163.250000   78.750000
50%       4946.500000     423.000000  156.500000
75%      19411.250000    1290.000000  252.250000
max     415416.000000  117335.000000  472.000000

In [36]:
topics_df.isna().sum()

createdAt         0
followersCount    0
postsCount        0
id                0
dtype: int64

In [37]:
# convert object to datetime
pd.to_datetime(topics_df.createdAt)

0     2020-12-10 17:24:27+00:00
1     2020-12-10 17:24:13+00:00
2     2020-12-10 17:24:04+00:00
3     2020-12-10 17:23:50+00:00
4     2020-12-10 17:23:35+00:00
                 ...
247   2016-03-01 13:26:59+00:00
248   2016-03-01 13:26:57+00:00
249   2016-03-01 13:26:56+00:00
250   2016-03-01 13:26:21+00:00
251   2016-03-01 13:26:20+00:00
Name: createdAt, Length: 252, dtype: datetime64[ns, UTC]

In [38]:
topics_df['created_at'] = pd.to_datetime(topics_df['createdAt'], format='%Y-%m-%dT%H:%M:%S%z')

In [39]:
topics_df["year"] = topics_df['created_at'].apply(lambda x: x.year)

In [40]:
topics_df.dtypes

createdAt                      object
followersCount                  int64
postsCount                      int64
id                              int64
created_at        datetime64[ns, UTC]
year                            int64
dtype: object

In [41]:
topics_df.year[0]

2020

In [42]:
# Rename columns, if needed
topics_df['followers_count'] = topics_df['followersCount']
topics_df['posts_count'] = topics_df['postsCount']
topics_df['topic_id'] = topics_df['id']

In [43]:
columns_to_drop = ['createdAt', 'followersCount', 'postsCount', 'id', 'created_at']
topics_df = topics_df.drop(columns=columns_to_drop)

In [44]:
# export all topics
topics_df.to_csv('/Users/theresawohlsen/code/bi/topics_cleaned.csv')

In [45]:
explore_df(topics_df)

Shape:
(252, 4)
------------------------------------------
Head:
   year  followers_count  posts_count  topic_id
0  2020               69           20       472
1  2020              107           76       471
2  2020              174           77       470
3  2020              190           92       469
4  2020              157           86       468
------------------------------------------
Tail:
     year  followers_count  posts_count  topic_id
247  2016              580           48         5
248  2016             2313          242         4
249  2016             1502          206         3
250  2016            46945        18426         2
251  2016             3930          149         1
------------------------------------------
Describe:
              year  followers_count    posts_count    topic_id
count   252.000000       252.000000     252.000000  252.000000
mean   2016.214286     23422.650794    2232.246032  172.710317
std       0.794474     53203.314897    8584.293197  114.847549
min    2016.000000        69.000000      10.000000    1.000000
25%    2016.000000      1883.750000     163.250000   78.750000
50%    2016.000000      4946.500000     423.000000  156.500000
75%    2016.000000     19411.250000    1290.000000  252.250000
max    2020.000000    415416.000000  117335.000000  472.000000
------------------------------------------
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             252 non-null    int64
 1   followers_count  252 non-null    int64
 2   posts_count      252 non-null    int64
 3   topic_id         252 non-null    int64
dtypes: int64(4)
memory usage: 8.0 KB
None
------------------------------------------
Missing Values:
year               0
followers_count    0
posts_count        0
topic_id           0
dtype: int64
------------------------------------------
Column types
featured              int64
weekday               int64
len_name              int64
len_description       int64
post_id               int64
post_name            object
post_description     object
reviews_rating      float64
topics_count          int64
dtype: object

### 4. SQL Database

In [46]:
# parameters for SQL database
pw = '>G@RCmT^9Tu>CMy'
host_name = "localhost"
user_name = "root"
db_name = 'traction_db'

In [47]:
# Function to create a connection to MySQL server
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [48]:
# Create connection toy my localhost
connection = create_server_connection(host_name, user_name, pw)

MySQL Database connection successful

In [49]:
# create a new database
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error: '{err}'")

In [50]:
# create a new database
create_database_query = "CREATE DATABASE traction_db"
create_database(connection, create_database_query)

Database created successfully

In [51]:
# function to create a connection to a database
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [52]:
# function to exceute a query
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [53]:
# establish connection
connection = create_db_connection(host_name, user_name, pw, db_name)

MySQL Database connection successful

In [54]:
# delete sql table
if False:
    delete_table_query = """DROP TABLE posts"""
    execute_query(connection, delete_table_query)

### 4.1. Create tables

In [55]:
# Query to create the topics table
create_topics_table = """
CREATE TABLE topics(
  topic_id INT PRIMARY KEY,
  followers_count INT,
  posts_count INT,
  year INT
  );
 """

In [56]:
# Create topics table
execute_query(connection, create_topics_table)

Query successful

In [57]:
# Query to create the post table
create_posts_table = """
CREATE TABLE posts(
    post_id INT PRIMARY KEY,
    featured INT,
    weekday INT,
    post_name TEXT,
    post_description TEXT,
    len_name INT,
    len_description INT,
    reviews_rating FLOAT,
    topics_count INT
    );
 """

In [58]:
# Create posts table
execute_query(connection, create_posts_table)

Query successful

In [59]:
# Query to create mapping table
create_mapping_table = """
CREATE TABLE mapping(
    post_id INT,
    topic_id INT
  );
 """

In [60]:
# Create mapping table
execute_query(connection, create_mapping_table)

Query successful

### 4.3. Insert data into the tables

In [61]:
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user=user_name,
                               pw=pw,
                               db=db_name))

In [62]:
# set id to index
topics_df = topics_df.set_index('topic_id')

In [63]:
# Insert whole DataFrame into MySQL
topics_df.to_sql('topics', con = engine, if_exists = 'append', chunksize = 1000)

In [64]:
# set id to index
post_df = post_df.set_index('post_id')

In [65]:
post_df = post_df.drop_duplicates(keep='first')

In [66]:
post_df

,featured,weekday,len_name,len_description,post_name,post_description,reviews_rating,topics_count
post_id,,,,,,,,
285247,0,4,28,159,SMART Operational Management,If remote teams and outsourcing were already o...,0.0,1
285246,0,4,17,261,siscertifications,ISO 14001 certification has become the interna...,0.0,1
285245,0,4,28,256,KSemantics for Google Sheets,KSemantics is an AI-powered Google Sheets add-...,0.0,4
285244,0,4,37,180,Best Mental Health Services in Lahore,Psychconsultants provides best mental health s...,0.0,2
285243,0,4,9,122,Whitebird,"Whitebird is an open-source, web-based, collab...",0.0,2
...,...,...,...,...,...,...,...,...
198134,1,3,6,161,Notyfy,"Notyfy aggregates notifications from Gmail, Tw...",4.2,3
198067,1,3,13,257,ResumeCompass,ResumeCompass is the all-in-one resume platfor...,5.0,3
198217,1,3,17,251,Novocall TimeSync,TimeSync is a smart scheduler purpose-built fo...,5.0,3
198147,1,3,38,154,Rainy Day Kids - Quarantine Activities,Parents - save time crawling the internet for ...,5.0,3
196573,0,3,26,198,Top eCommerce Case Studies,We curated 40+ incredible eCommerce case studi...,5.0,4

In [67]:
# Insert whole DataFrame into MySQL
post_df.to_sql('posts', con = engine, if_exists = 'append', chunksize = 1000)

In [68]:
# set id to index
mapping_df= mapping_df.set_index('post_id')

In [69]:
# Insert whole DataFrame into MySQL
mapping_df.to_sql('mapping', con = engine, if_exists = 'append', chunksize = 1000)

### 4.4. Read SQL tables

In [70]:
def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [71]:
# Get one post
q1 = """
SELECT *
FROM posts
WHERE post_id = 284633;
"""

results = read_query(connection, q1)
results

[(284633,
  1,
  1,
  'Reactor for Google Workspace',
  'An add-on based on simple spreadsheet formulas, Reactor will do monitor data and send emails if needed. You can install it for free from the the GSuite marketplace, or from the Addons-menu item in your Gsheet.',
  28,
  209,
  0.0,
  3)]

In [72]:
# Get all topics
q2 = """
SELECT *
FROM topics
;
"""
results = read_query(connection, q2)
results

[(1, 3930, 149, 2016),
 (2, 46945, 18426, 2016),
 (3, 1502, 206, 2016),
 (4, 2313, 242, 2016),
 (5, 580, 48, 2016),
 (6, 984, 66, 2016),
 (7, 600, 36, 2016),
 (8, 95378, 27118, 2016),
 (9, 5919, 5769, 2016),
 (11, 2367, 459, 2016),
 (12, 4405, 1142, 2016),
 (13, 5478, 1028, 2016),
 (15, 2867, 562, 2016),
 (16, 2838, 945, 2016),
 (17, 3826, 145, 2016),
 (18, 8406, 2975, 2016),
 (19, 90345, 6008, 2016),
 (21, 87761, 26855, 2016),
 (22, 66764, 1778, 2016),
 (23, 2834, 170, 2016),
 (24, 1356, 62, 2016),
 (25, 858, 119, 2016),
 (26, 3618, 419, 2016),
 (27, 2577, 125, 2016),
 (28, 4766, 218, 2016),
 (29, 3564, 345, 2016),
 (30, 39059, 1110, 2016),
 (31, 20680, 310, 2016),
 (34, 42605, 3574, 2016),
 (36, 3618, 612, 2016),
 (37, 1450, 140, 2016),
 (39, 30881, 1909, 2016),
 (41, 11672, 2019, 2016),
 (42, 9097, 2110, 2016),
 (43, 61787, 7016, 2016),
 (44, 169766, 11707, 2016),
 (45, 8069, 776, 2016),
 (46, 415416, 42928, 2016),
 (48, 68818, 2443, 2016),
 (49, 1626, 129, 2016),
 (50, 31004, 2404, 2016),
 (51, 2784, 818, 2016),
 (52, 1383, 177, 2016),
 (53, 629, 21, 2016),
 (54, 1428, 178, 2016),
 (55, 3009, 321, 2016),
 (57, 41235, 3597, 2016),
 (59, 2353, 272, 2016),
 (60, 45598, 3656, 2016),
 (61, 4623, 240, 2016),
 (63, 18795, 1299, 2016),
 (64, 13946, 1032, 2016),
 (65, 20627, 642, 2016),
 (66, 3956, 146, 2016),
 (67, 3497, 90, 2016),
 (68, 8054, 2294, 2016),
 (70, 2018, 228, 2016),
 (71, 13497, 2219, 2016),
 (72, 23328, 1033, 2016),
 (73, 146137, 4273, 2016),
 (74, 9093, 2041, 2016),
 (76, 12401, 1611, 2016),
 (78, 3196, 266, 2016),
 (79, 1089, 75, 2016),
 (80, 2322, 91, 2016),
 (81, 2002, 103, 2016),
 (82, 3071, 478, 2016),
 (84, 4192, 1111, 2016),
 (85, 9104, 1601, 2016),
 (87, 2252, 273, 2016),
 (88, 81288, 3430, 2016),
 (89, 54886, 2531, 2016),
 (90, 47231, 1783, 2016),
 (92, 3499, 668, 2016),
 (93, 231622, 14339, 2016),
 (94, 29897, 4050, 2016),
 (95, 6534, 267, 2016),
 (96, 5271, 690, 2016),
 (97, 6784, 416, 2016),
 (100, 11091, 967, 2016),
 (101, 20827, 1215, 2016),
 (102, 42748, 1287, 2016),
 (103, 3567, 793, 2016),
 (104, 66461, 5789, 2016),
 (105, 22918, 427, 2016),
 (107, 5683, 99, 2016),
 (108, 131911, 5069, 2016),
 (110, 8254, 412, 2016),
 (111, 5631, 1349, 2016),
 (112, 1200, 164, 2016),
 (113, 1753, 295, 2016),
 (114, 1470, 283, 2016),
 (115, 803, 85, 2016),
 (116, 765, 62, 2016),
 (117, 4600, 197, 2016),
 (119, 10035, 1016, 2016),
 (122, 60115, 1080, 2016),
 (123, 8154, 1868, 2016),
 (124, 2886, 133, 2016),
 (125, 8942, 1913, 2016),
 (128, 23349, 1701, 2016),
 (130, 16318, 297, 2016),
 (131, 7379, 302, 2016),
 (132, 15785, 408, 2016),
 (134, 7174, 486, 2016),
 (135, 29693, 1114, 2016),
 (137, 2236, 143, 2016),
 (138, 9889, 485, 2016),
 (139, 979, 68, 2016),
 (140, 1915, 189, 2016),
 (141, 996, 137, 2016),
 (142, 1389, 259, 2016),
 (143, 1021, 64, 2016),
 (144, 2146, 978, 2016),
 (145, 2448, 839, 2016),
 (146, 4703, 2532, 2016),
 (147, 3618, 562, 2016),
 (148, 2264, 141, 2016),
 (149, 1207, 227, 2016),
 (150, 2837, 1380, 2016),
 (151, 1125, 67, 2016),
 (152, 5253, 3692, 2016),
 (153, 1941, 132, 2016),
 (154, 1558, 254, 2016),
 (155, 711, 43, 2016),
 (156, 2290, 310, 2016),
 (157, 2853, 950, 2016),
 (159, 3733, 402, 2016),
 (160, 1377, 714, 2016),
 (161, 1523, 242, 2016),
 (162, 760, 43, 2016),
 (163, 991, 43, 2016),
 (164, 242009, 23014, 2016),
 (165, 968, 61, 2016),
 (166, 1782, 278, 2016),
 (167, 1865, 92, 2016),
 (168, 825, 66, 2016),
 (170, 3000, 515, 2016),
 (172, 2205, 258, 2016),
 (173, 2006, 192, 2016),
 (174, 1896, 114, 2016),
 (175, 2268, 177, 2016),
 (176, 6454, 440, 2016),
 (177, 940, 48, 2016),
 (178, 17481, 1079, 2016),
 (179, 15951, 652, 2016),
 (180, 1343, 47, 2016),
 (181, 1502, 51, 2016),
 (182, 3192, 309, 2016),
 (193, 776, 51, 2016),
 (194, 855, 58, 2016),
 (198, 2558, 282, 2016),
 (199, 2948, 431, 2016),
 (202, 1890, 64, 2016),
 (203, 19006, 1588, 2016),
 (204, 57744, 6685, 2016),
 (205, 9346, 732, 2016),
 (206, 115373, 4071, 2016),
 (207, 21734, 1365, 2016),
 (208, 41319, 1054, 2016),
 (209, 11209, 779, 2016),
 (210, 2879, 234, 2016),
 (211, 2877, 283, 2016),
 (212, 24062, 3736, 2016),
 (213, 13878, 366, 2016),
 (214, 11100, 348, 2016),
 (217, 3449, 149, 2016),
 (218, 989, 99, 2016),
 (219, 996, 34, 2016),
 (220, 663, 30, 2016),
 (221, 2493, 136, 2016),
 (223, 2077, 259, 2016),
 (224, 632, 68, 2016),
 (226, 1578, 81, 2016),
 (227, 6665, 262, 2016),
 (228, 5127, 494, 2016),
 (230, 21378, 2670, 2016),
 (231, 25704, 1166, 2016),
 (232, 169380, 4985, 2016),
 (237, 21927, 4670, 2016),
 (242, 16706, 1263, 2016),
 (243, 2436, 51, 2016),
 (246, 3391, 46, 2016),
 (247, 25444, 2505, 2016),
 (248, 8064, 1179, 2016),
 (249, 26719, 1345, 2016),
 (250, 30932, 3396, 2016),
 (251, 118902, 3959, 2016),
 (252, 4696, 868, 2016),
 (253, 4379, 591, 2016),
 (254, 24429, 477, 2016),
 (256, 27484, 1175, 2016),
 (258, 3691, 738, 2016),
 (259, 3641, 446, 2016),
 (260, 614, 27, 2016),
 (261, 156876, 2664, 2016),
 (264, 11898, 229, 2016),
 (265, 710, 27, 2016),
 (266, 37119, 273, 2016),
 (267, 331668, 23223, 2016),
 (268, 276409, 8727, 2016),
 (269, 38097, 1313, 2016),
 (271, 17237, 591, 2016),
 (272, 34246, 2523, 2016),
 (273, 970, 236, 2016),
 (274, 7412, 181, 2016),
 (275, 5778, 479, 2016),
 (276, 51310, 1178, 2016),
 (277, 5599, 463, 2016),
 (278, 29906, 3266, 2016),
 (279, 12663, 1237, 2016),
 (280, 17870, 369, 2016),
 (282, 12562, 417, 2016),
 (283, 12300, 190, 2016),
 (303, 10580, 820, 2016),
 (307, 2561, 113, 2016),
 (308, 11137, 768, 2016),
 (341, 15471, 161, 2016),
 (342, 96234, 3593, 2016),
 (343, 24950, 348, 2016),
 (345, 6043, 468, 2016),
 (346, 9021, 814, 2016),
 (348, 7364, 274, 2016),
 (349, 9074, 461, 2016),
 (351, 21001, 1057, 2016),
 (352, 312733, 117335, 2016),
 (353, 80201, 12380, 2016),
 (354, 101957, 8766, 2016),
 (355, 5766, 177, 2016),
 (356, 41670, 257, 2016),
 (357, 7025, 309, 2016),
 (358, 5820, 141, 2016),
 (359, 5135, 286, 2017),
 (361, 13922, 947, 2017),
 (362, 10913, 2326, 2017),
 (363, 1777, 155, 2017),
 (364, 966, 139, 2018),
 (365, 494, 136, 2018),
 (366, 718, 241, 2018),
 (367, 395, 185, 2018),
 (371, 534, 380, 2019),
 (372, 1388, 688, 2019),
 (373, 546, 191, 2019),
 (374, 886, 696, 2019),
 (375, 1856, 405, 2019),
 (402, 847, 204, 2019),
 (435, 134, 10, 2020),
 (468, 157, 86, 2020),
 (469, 190, 92, 2020),
 (470, 174, 77, 2020),
 (471, 107, 76, 2020),
 (472, 69, 20, 2020)]

In [73]:
# Get all topics
q3 = """
SELECT *
FROM mapping
;
"""
results = read_query(connection, q3)
results

[(285247, 46),
 (285246, 46),
 (285245, 46),
 (285245, 108),
 (285245, 268),
 (285245, 352),
 (285244, 164),
 (285244, 352),
 (285243, 46),
 (285243, 272),
 (285242, 90),
 (285242, 268),
 (285241, 21),
 (285241, 46),
 (285241, 237),
 (285240, 46),
 (285240, 352),
 (285239, 2),
 (285239, 8),
 (285239, 104),
 (285239, 250),
 (285238, 44),
 (285238, 164),
 (285237, 267),
 (285237, 272),
 (285135, 94),
 (285135, 203),
 (284529, 2),
 (284529, 8),
 (284529, 142),
 (284529, 204),
 (285236, 108),
 (285236, 232),
 (285236, 268),
 (285235, 164),
 (284990, 164),
 (284990, 352),
 (284839, 46),
 (284839, 267),
 (284839, 352),
 (285234, 34),
 (285234, 46),
 (285234, 93),
 (285234, 352),
 (285138, 152),
 (285138, 267),
 (285194, 267),
 (285194, 268),
 (285194, 352),
 (285214, 39),
 (285232, 46),
 (285232, 93),
 (285232, 352),
 (285231, 46),
 (285231, 204),
 (285230, 164),
 (285228, 46),
 (285228, 232),
 (285228, 352),
 (285227, 74),
 (285226, 46),
 (285226, 352),
 (285225, 164),
 (285224, 267),
 (285224, 268),
 (285224, 352),
 (285223, 2),
 (285223, 104),
 (285223, 164),
 (285223, 278),
 (285222, 46),
 (285222, 164),
 (285218, 46),
 (285216, 268),
 (285217, 21),
 (285217, 46),
 (285217, 237),
 (285215, 164),
 (285098, 352),
 (285032, 36),
 (285032, 80),
 (285032, 145),
 (285032, 146),
 (285032, 152),
 (285032, 159),
 (285032, 352),
 (285032, 353),
 (285163, 46),
 (285163, 205),
 (285163, 352),
 (285163, 353),
 (285046, 64),
 (285046, 125),
 (285046, 164),
 (285046, 230),
 (285193, 85),
 (285193, 206),
 (285193, 237),
 (285193, 247),
 (285193, 352),
 (285170, 46),
 (285168, 93),
 (285133, 2),
 (285133, 8),
 (285133, 44),
 (285133, 76),
 (285133, 353),
 (285180, 46),
 (285180, 60),
 (285180, 71),
 (285180, 164),
 (284777, 74),
 (284777, 261),
 (284777, 352),
 (284777, 435),
 (285213, 44),
 (285212, 164),
 (285211, 102),
 (285211, 128),
 (285211, 164),
 (285210, 46),
 (285210, 96),
 (285209, 267),
 (285208, 46),
 (285206, 8),
 (285205, 46),
 (285204, 2),
 (285204, 8),
 (285204, 46),
 (285202, 74),
 (285201, 93),
 (285200, 258),
 (285199, 164),
 (285198, 93),
 (285197, 164),
 (285197, 267),
 (285196, 44),
 (285196, 267),
 (285195, 46),
 (285192, 21),
 (285192, 44),
 (285191, 2),
 (285191, 251),
 (285169, 44),
 (285169, 46),
 (285169, 90),
 (285169, 93),
 (285169, 352),
 (285187, 41),
 (285186, 164),
 (285185, 8),
 (285185, 46),
 (285184, 44),
 (285184, 46),
 (285184, 73),
 (285184, 267),
 (285184, 352),
 (285183, 164),
 (285182, 21),
 (285182, 90),
 (285182, 204),
 (285181, 46),
 (285181, 68),
 (285181, 353),
 (285176, 46),
 (285176, 352),
 (285175, 8),
 (285167, 8),
 (285167, 12),
 (285167, 46),
 (285167, 205),
 (285167, 249),
 (285167, 362),
 (285162, 2),
 (285161, 46),
 (285159, 46),
 (285159, 93),
 (285159, 231),
 (285158, 204),
 (285158, 247),
 (285158, 267),
 (285158, 352),
 (285157, 45),
 (285157, 352),
 (285001, 43),
 (285155, 44),
 (285155, 267),
 (285155, 352),
 (285153, 93),
 (284810, 8),
 (284810, 161),
 (284810, 353),
 (285146, 50),
 (285146, 352),
 (285146, 372),
 (285146, 373),
 (285146, 375),
 (284998, 111),
 (284998, 230),
 (285145, 8),
 (285145, 232),
 (285145, 268),
 (285145, 352),
 (285144, 2),
 (285144, 268),
 (285144, 352),
 (285142, 237),
 (285142, 352),
 (285139, 21),
 (285139, 353),
 (284867, 278),
 (285137, 44),
 (285137, 46),
 (285137, 93),
 (285130, 93),
 (285130, 352),
 (285129, 21),
 (285129, 93),
 (285129, 352),
 (285128, 93),
 (285064, 34),
 (285064, 212),
 (285064, 352),
 (285064, 374),
 (285127, 2),
 (285127, 8),
 (285127, 161),
 (285127, 372),
 (284840, 44),
 (284840, 93),
 (284840, 204),
 (284840, 372),
 (284870, 93),
 (284870, 268),
 (285031, 46),
 (285097, 267),
 (285097, 272),
 (285097, 352),
 (285114, 93),
 (285114, 164),
 (285080, 267),
 (285027, 267),
 (285027, 469),
 (285035, 21),
 (285035, 97),
 (285035, 272),
 (285042, 2),
 (285042, 8),
 (285042, 9),
 (285042, 46),
 (285042, 48),
 (285042, 72),
 (285120, 46),
 (285120, 93),
 (285120, 204),
 (285120, 352),
 (285099, 8),
 (285099, 19),
 (285099, 46),
 (285099, 362),
 (285125, 46),
 (276761, 46),
 (285122, 71),
 (285122, 128),
 (285122, 164),
 (285122, 206),
 (285122, 343),
 (285116, 85),
 (285116, 104),
 (285116, 128),
 (285116, 164),
 (284822, 68),
 (284822, 471),
 (285112, 44),
 (284861, 46),
 (284861, 237),
 (285091, 41),
 (285091, 237),
 (284838, 2),
 (284838, 8),
 (284838, 21),
 (284838, 34),
 (284838, 46),
 (284838, 60),
 (284838, 71),
 (284838, 164),
 (284838, 237),
 (284838, 352),
 (285105, 2),
 (285105, 57),
 (285102, 164),
 (285096, 21),
 (285096, 44),
 (285096, 45),
 (285096, 46),
 (285096, 63),
 (285096, 88),
 (285096, 89),
 (285096, 93),
 (285096, 102),
 (285096, 104),
 (285096, 122),
 (285096, 132),
 (285096, 164),
 (285096, 204),
 (285096, 214),
 (285096, 251),
 (285096, 267),
 (285096, 271),
 (285096, 272),
 (285096, 276),
 (285086, 8),
 (285086, 43),
 (285086, 46),
 (285086, 362),
 (285055, 21),
 (285055, 84),
 (285055, 164),
 (285095, 21),
 (285070, 44),
 (285070, 242),
 (285070, 267),
 (285067, 46),
 (285067, 93),
 (285067, 352),
 (285094, 44),
 (285094, 267),
 (285092, 164),
 (285065, 2),
 (285065, 46),
 (285065, 72),
 (285065, 94),
 (285037, 46),
 (285037, 48),
 (285037, 96),
 (285037, 237),
 (285037, 252),
 (285061, 21),
 (285061, 46),
 (285061, 352),
 (285071, 94),
 (285071, 237),
 (285071, 352),
 (285087, 21),
 (285072, 12),
 (285072, 93),
 (285072, 237),
 (285072, 258),
 (285007, 60),
 (285007, 89),
 (285007, 123),
 (285077, 2),
 (285077, 8),
 (284613, 21),
 (284613, 470),
 (285073, 42),
 (285073, 164),
 (285073, 207),
 (285073, 353),
 (284977, 230),
 (284686, 135),
 (284686, 164),
 (284686, 267),
 (284419, 46),
 (284419, 247),
 (284419, 267),
 (284985, 46),
 (284985, 88),
 (284985, 94),
 (284985, 237),
 (285075, 164),
 (285074, 46),
 (285074, 71),
 (285074, 164),
 (285005, 46),
 (285005, 250),
 (285005, 468),
 (284645, 19),
 (284645, 57),
 (284645, 471),
 (285058, 44),
 (285058, 88),
 (285058, 214),
 (285058, 251),
 (285058, 268),
 (285058, 352),
 (284872, 44),
 (284872, 46),
 (284872, 164),
 (284973, 39),
 (284973, 85),
 (284973, 123),
 (284973, 128),
 (284973, 164),
 (285056, 34),
 (285056, 46),
 (285048, 68),
 (285048, 84),
 (285048, 102),
 (285059, 237),
 (285059, 267),
 (285059, 268),
 (285059, 352),
 (284320, 46),
 (284320, 71),
 (284320, 101),
 (284320, 164),
 (284320, 237),
 (284866, 46),
 (284866, 237),
 (284992, 44),
 (284992, 76),
 (284992, 167),
 (284992, 352),
 (284995, 2),
 (284995, 8),
 (284995, 94),
 (284995, 212),
 (284995, 374),
 (285063, 46),
 (285063, 267),
 (285060, 89),
 (285060, 352),
 (285057, 352),
 (285044, 268),
 (285044, 352),
 (285043, 46),
 (285039, 2),
 (285039, 8),
 (285039, 205),
 (285038, 44),
 (285038, 46),
 (285038, 267),
 (285038, 272),
 (285038, 352),
 (285036, 19),
 (285036, 252),
 (285036, 351),
 (285033, 267),
 (285033, 272),
 (284198, 46),
 (284198, 96),
 (284198, 213),
 (284198, 352),
 (285030, 46),
 (285030, 365),
 (285029, 60),
 (285029, 272),
 (285029, 352),
 (285028, 352),
 (285028, 468),
 (285016, 352),
 (285015, 21),
 (285012, 8),
 (285012, 51),
 (285012, 352),
 (285012, 469),
 (285011, 88),
 (285011, 104),
 (285011, 247),
 (285011, 267),
 (285009, 64),
 (285009, 278),
 (285009, 283),
 (285008, 2),
 (285008, 8),
 (285008, 93),
 (285008, 164),
 (285006, 74),
 (285006, 230),
 (285006, 276),
 (285006, 352),
 (285000, 93),
 (285000, 352),
 (284999, 46),
 (284999, 93),
 (284999, 108),
 (284999, 164),
 (284999, 268),
 (284999, 352),
 (284997, 2),
 (284997, 8),
 (284997, 43),
 (284996, 354),
 (284994, 46),
 (284994, 352),
 (284993, 268),
 (284849, 21),
 (284849, 160),
 (284849, 353),
 (284988, 2),
 (284988, 247),
 (284988, 352),
 (284987, 8),
 (284987, 46),
 (284987, 104),
 (284987, 469),
 (284986, 46),
 (284986, 108),
 (284986, 164),
 (284986, 237),
 (284984, 204),
 (284984, 232),
 (284984, 352),
 (284785, 204),
 (284785, 267),
 (284785, 268),
 (284785, 352),
 (284785, 354),
 (284884, 3),
 (284884, 57),
 (284884, 68),
 (284884, 125),
 (284884, 261),
 (284884, 471),
 (284978, 101),
 (284978, 342),
 (284978, 101),
 (284978, 342),
 (284976, 2),
 (284976, 93),
 (284422, 267),
 (284422, 272),
 (284875, 21),
 (284875, 46),
 (284875, 267),
 (284875, 470),
 (284975, 277),
 (284975, 278),
 (284974, 164),
 (284974, 206),
 (284974, 237),
 (284972, 44),
 (284972, 122),
 (284972, 237),
 (284972, 247),
 (284972, 352),
 (284688, 46),
 (284688, 93),
 (284688, 237),
 (284065, 43),
 (284065, 217),
 (284065, 435),
 (284065, 469),
 (284842, 44),
 (284842, 46),
 (284842, 74),
 (284971, 8),
 (284971, 34),
 (284971, 278),
 (284971, 349),
 (284971, 352),
 (284970, 46),
 (284970, 93),
 (284970, 352),
 (284573, 22),
 (284573, 46),
 (284573, 48),
 (284573, 237),
 (284395, 41),
 (284395, 119),
 (284395, 352),
 (284395, 468),
 (284965, 8),
 (284965, 46),
 (284965, 108),
 (284965, 362),
 (284965, 374),
 (284891, 89),
 (284891, 267),
 (284891, 364),
 (228213, 21),
 (228213, 46),
 (228213, 48),
 (228213, 60),
 (228213, 104),
 (228213, 164),
 (228213, 276),
 (228213, 352),
 (284967, 46),
 (284967, 352),
 (284966, 2),
 (284966, 46),
 (284966, 93),
 (284966, 164),
 (284966, 352),
 (284864, 251),
 (284864, 352),
 (284843, 164),
 (284843, 361),
 (284868, 8),
 (284868, 46),
 (284868, 267),
 (284868, 352),
 (284960, 21),
 (284960, 44),
 (284959, 8),
 (284959, 45),
 (284959, 60),
 (284959, 351),
 (284958, 8),
 (284958, 44),
 (284958, 46),
 (284958, 48),
 (284958, 90),
 (284958, 104),
 (284958, 205),
 (284958, 267),
 (284958, 362),
 (284958, 371),
 (284958, 468),
 (284955, 267),
 (284955, 272),
 (284946, 19),
 (284946, 44),
 (284946, 46),
 (284946, 267),
 (284956, 8),
 (284956, 46),
 (284956, 94),
 (284956, 203),
 (284956, 212),
 (284956, 362),
 (284919, 8),
 (284919, 46),
 (284890, 21),
 (284890, 46),
 (284890, 68),
 (284890, 237),
 (284890, 352),
 (284934, 111),
 (284934, 213),
 (284934, 267),
 (284953, 8),
 (284953, 9),
 (284953, 68),
 (284953, 247),
 (284953, 279),
 (284953, 352),
 (284953, 362),
 (284937, 13),
 (284937, 18),
 (284937, 19),
 (284937, 39),
 (284937, 46),
 (284937, 352),
 (284925, 93),
 (284925, 267),
 (284925, 352),
 (284954, 2),
 (284954, 8),
 (284954, 111),
 (284813, 94),
 (284813, 203),
 (284813, 212),
 (284895, 8),
 (284895, 9),
 (284895, 19),
 (284895, 46),
 (284895, 468),
 (284932, 2),
 (284932, 8),
 (284932, 43),
 (284932, 93),
 (284932, 135),
 (284932, 164),
 (284932, 256),
 (284760, 46),
 (284760, 88),
 (284760, 94),
 (284760, 237),
 (284760, 268),
 (284775, 46),
 (284775, 470),
 (284924, 46),
 (284924, 267),
 (284924, 268),
 (284829, 85),
 (284829, 108),
 (284829, 203),
 (284829, 352),
 (284230, 247),
 (284916, 21),
 (284916, 46),
 (284916, 94),
 (284916, 237),
 (284916, 374),
 (284874, 21),
 (284874, 43),
 (284874, 46),
 (284874, 237),
 (284874, 372),
 (284927, 2),
 (284927, 46),
 (284926, 361),
 (284672, 43),
 (284672, 46),
 (284836, 21),
 (284836, 44),
 (284836, 267),
 (284827, 39),
 (284827, 45),
 (284827, 164),
 (284920, 164),
 (284920, 178),
 (284920, 206),
 (284920, 354),
 (284920, 402),
 (284918, 8),
 (284918, 21),
 (283994, 111),
 (283994, 207),
 (283994, 253),
 (284704, 46),
 (284704, 48),
 (284704, 96),
 (284704, 123),
 (284704, 252),
 (284704, 256),
 (284504, 237),
 (284504, 267),
 (284504, 352),
 (284413, 2),
 (284413, 8),
 (284413, 82),
 (284413, 94),
 (284413, 374),
 (284847, 57),
 (284847, 65),
 (284847, 88),
 (284847, 268),
 (284820, 21),
 (284330, 88),
 (284330, 89),
 (284330, 237),
 (284330, 247),
 (284330, 267),
 (284330, 272),
 (284742, 46),
 (284742, 48),
 (284742, 267),
 (284742, 342),
 (284914, 44),
 (284914, 46),
 (284914, 164),
 (284914, 267),
 (284914, 352),
 (284910, 46),
 (284910, 164),
 (284881, 93),
 (284877, 2),
 (284865, 352),
 (284793, 39),
 (284793, 44),
 (284793, 46),
 (284793, 85),
 (284793, 128),
 (284793, 164),
 (284793, 375),
 (284862, 2),
 (284862, 8),
 (284862, 34),
 (284862, 267),
 (284860, 34),
 (284859, 2),
 (284859, 8),
 (284859, 76),
 (284857, 64),
 (284857, 164),
 (284855, 212),
 (284855, 352),
 (284848, 352),
 (284846, 2),
 (284846, 43),
 (284655, 46),
 (284655, 93),
 (284655, 122),
 (284655, 164),
 (284655, 268),
 (284845, 46),
 (284845, 68),
 (284845, 252),
 (284845, 468),
 (284845, 471),
 (284841, 267),
 (284837, 8),
 (284837, 113),
 (284837, 114),
 (284837, 362),
 (284315, 93),
 (284315, 237),
 (284315, 352),
 (284830, 8),
 (284830, 46),
 (284830, 71),
 (284830, 135),
 (284830, 164),
 (284830, 206),
 (284835, 71),
 (284835, 164),
 (284835, 375),
 (284834, 46),
 (284834, 213),
 (284834, 267),
 (284833, 104),
 (284832, 8),
 (284832, 352),
 (284831, 46),
 (284831, 267),
 (284858, 2),
 (284858, 8),
 (284858, 21),
 (284858, 46),
 (284858, 48),
 (284858, 256),
 (284828, 2),
 (284828, 46),
 (284828, 93),
 (284828, 275),
 (284828, 352),
 (284828, 362),
 (284825, 43),
 (284824, 64),
 (284824, 157),
 (284824, 178),
 (284824, 354),
 (284824, 375),
 (284823, 46),
 (284823, 123),
 (284823, 268),
 (284821, 21),
 (284821, 44),
 (284821, 46),
 (284821, 93),
 (284821, 104),
 (284821, 135),
 (284821, 179),
 (284821, 232),
 (284821, 251),
 (284821, 267),
 (284819, 46),
 (284819, 272),
 (284819, 352),
 (284818, 8),
 (284818, 9),
 (284818, 19),
 (284818, 46),
 (284818, 204),
 (284818, 362),
 (284816, 39),
 (284816, 46),
 (284812, 268),
 (284812, 352),
 (284727, 8),
 (284727, 19),
 (284727, 46),
 (284727, 248),
 (284727, 251),
 (284033, 237),
 (284033, 349),
 (284033, 352),
 (284811, 21),
 (284811, 94),
 (284811, 203),
 (284804, 8),
 (284804, 21),
 (284804, 46),
 (284804, 104),
 (284804, 164),
 (284804, 210),
 (284804, 232),
 (284804, 261),
 (284804, 352),
 (284669, 8),
 (284669, 12),
 (284669, 43),
 (284669, 104),
 (284669, 362),
 (284803, 34),
 (284803, 46),
 (284803, 93),
 (284803, 267),
 (284801, 46),
 (284801, 352),
 (283881, 16),
 (283881, 34),
 (283881, 250),
 (284667, 19),
 (284667, 44),
 (284667, 268),
 (284798, 237),
 (284798, 359),
 (284797, 46),
 (284797, 93),
 (284797, 164),
 (284792, 2),
 (284792, 164),
 (284694, 46),
 (284694, 71),
 (284694, 207),
 (284791, 8),
 (284791, 21),
 (284791, 152),
 (284791, 204),
 (284791, 362),
 (284789, 2),
 (284789, 42),
 (284789, 76),
 (284789, 204),
 (284789, 271),
 (284789, 469),
 (284788, 2),
 (284788, 8),
 (284788, 42),
 (284788, 146),
 (284788, 152),
 (284788, 160),
 (284788, 353),
 (284786, 2),
 (284786, 8),
 (284557, 8),
 (284557, 94),
 (284557, 203),
 (284557, 268),
 (284784, 46),
 (284784, 267),
 (284784, 352),
 (284684, 46),
 (284684, 354),
 (284421, 73),
 (284421, 345),
 (284421, 355),
 (284761, 8),
 (284761, 46),
 (284782, 43),
 (284782, 157),
 (284782, 228),
 (284781, 249),
 (284781, 250),
 (284568, 21),
 (284568, 74),
 (284568, 268),
 (284568, 278),
 (284568, 352),
 (284640, 46),
 (284640, 252),
 (284778, 21),
 (284778, 44),
 (284778, 104),
 (284778, 267),
 (284778, 352),
 (284773, 89),
 (284773, 93),
 (284773, 247),
 (284773, 272),
 (284679, 93),
 (284679, 267),
 (284679, 272),
 (283802, 34),
 (283802, 50),
 (284558, 46),
 (284558, 104),
 (284558, 164),
 (284558, 206),
 (284558, 352),
 (283207, 108),
 (283207, 237),
 (283207, 268),
 (283207, 352),
 (284769, 247),
 (284769, 267),
 (284639, 30),
 (284639, 46),
 (284639, 93),
 (284639, 268),
 (284767, 268),
 (284767, 278),
 (284767, 342),
 (284766, 21),
 (284766, 46),
 (284766, 93),
 (284766, 123),
 (284766, 237),
 (284766, 352),
 (284701, 73),
 (284701, 268),
 (284701, 352),
 (284677, 15),
 (284677, 16),
 (284677, 19),
 (284677, 21),
 (284677, 34),
 (284677, 46),
 (284677, 74),
 (284677, 88),
 (284677, 217),
 (284677, 228),
 (284677, 237),
 (284677, 278),
 (284677, 282),
 ...]